<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Link to Leaflet CSS for map styling -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    
    <!-- Link to a custom CSS file for additional styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rasterstyles.css') }}" />

    <!-- Include Leaflet JS library -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- Libraries for handling and visualizing geospatial data -->
    <script src="https://unpkg.com/georaster"></script>
    <script src="https://unpkg.com/georaster-layer-for-leaflet/dist/georaster-layer-for-leaflet.min.js"></script>
    <script src="https://unpkg.com/geoblaze"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.6.2/proj4.js"></script>

    <title>Raster Map</title>
</head>
<body>
    <!-- Div container for the raster map -->
    <div id="rasterMap"></div>

    <!-- Link to a raster.js using Jinja -->
    <script> const mapboxApiKey = "{{ mapbox_key }}"; </script>
    <script src="{{ url_for('static', filename='js/rastermap.js') }}"></script>
</body>
</html>


